# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src-python/temp*
.env*

src-python/__pycache__


# Tauri Secure Store
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.node.json
!src-tauri/tauri.conf.json
!src-tauri/capabilities/default.json
!src-tauri/.vscode/extensions.json
settings.json

# Local Database
*.db
notetaker.db
# Python Cache and Artifacts
__pycache__/
*.py[cod]
*$py.class

# Temporary Audio Files
*.wav
temp_*.wav